# NAMESPACE for IPMbook package

importFrom("graphics", "abline", "hist", "lines", "par", "plot", "matplot")
importFrom("stats", "dbeta", "pbeta", "qbeta", "rbeta",
        "dgamma", "pgamma", "qgamma", "rgamma",
        "dnorm", "rnorm", "runif", "plogis",
        "acf", "density")
importFrom("stats", "rbinom", "rpois", "qlogis")
importFrom("utils", "packageVersion")

# Utilities
export(
  "dbeta2", "pbeta2", "qbeta2", "rbeta2", "getBeta2Par",
  "dbeta3", "pbeta3", "qbeta3", "rbeta3", "getBeta3Par",
  "dgamma2", "pgamma2", "qgamma2", "rgamma2", "getGammaPar",
  "demoMCMC")

export(
  "simPop", "simCapHist", "simProd", "simMHB",
  "simCountBin", "simCountNorm", "simCountPois",
  "marray", "marrayAge", "marrayDead", "createAge",
  "summaryPop",
  "cleanCH", "zKnown", "zInit", "zInitDR", "rmFirst", "getFirst",
  "dUnif", "ch2matrix")
